{% extends 'base.html.twig' %}

{% block title %}Hello ProfileController!{% endblock %}

{% block body %}
<div class="container">
    <h1>{{ controller_name }}</h1>

    This friendly message is coming from:
    <div class="row">
        <div class="col-6"> {{ form(form) }}</div>
        <div class="col-6">{{ form(formPassword) }}</div>
    </div>



</div>
{% endblock %}
